.about {
    margin-top: 5em;
    height: 80vh;
    /* max-width: 80vw; */
    width: 100%;

}

h1, h2 {
    text-align: center;

}

.about-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80vw;
    width: 100%;

}

input {
    width: 120px;
}